// $brand-primary: #ca3b47;
// $brand-primary: #48b3a4;
// $brand-primary: #83c54a;
// $brand-primary: #f15c66;
$brand-primary: #50c25e;
$cool-grey: #f2fafc;
// $cool-grey: darken(#f2fafc, 1%);
// $dark-grey: #111;
$dark-grey: #2a3742;

$heading-font: "Merriweather", serif;
$body-font: "Oxygen", sans-serif;
